* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-green: #08fc00;
    --color-black: #1a1717;
    --color-gray: #414141;
    --color-white: #fff;
    --color-dark-white: #a39e9e;

    --container-width-lg: 90%;
    --container-width-md: 92%;
    --container-width-sm: 95%;
}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--color-black);
    color: var(--color-white);
}

a {
    color: var(--color-white);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

img {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

section {
    padding: 6rem 0;
}

nav {
    background: var(--color-gray);
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100vw;
    box-shadow: 0 1rem 3rem var(--color-black);
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 7rem;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav__contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav__brand {
    background: var(--color-white);
    width: 8rem;
    height: 5rem;
    border-radius: 5px;
    color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.nav__brand span {
    font-size: 2.5rem;
    margin-right: -5px;
}

.nav__contact {
    margin-right: 5rem;
}


.nav__toggler  button{
    margin-right: 5rem;
    display: none;
    font-size: 2.5rem;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    width: 5rem;
}

/* ======================== END OF NAVBAR =================== */

.main__section {
    position: relative;
    top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}

.main__section-left {
    margin-top: 2rem;
}

.main__section-right {
    margin-top: 2rem;
    /* margin-left: 4rem; */
}

.main__section-image {
    width: 70%;
    height: 70%;
    /* overflow: hidden; */
}

.main__section-image img {
    width: 100%;
    height: 100%;
    border: 4px solid var(--color-white);
    border-radius: 50%;

}

.main_section-title h1 {
    font-size: 3rem;
}

.main_section-title span {
    color: var(--color-green);
    font-size: 5.5rem;
    margin-left: 5rem;
    position: absolute;
    letter-spacing: 5px;
    font-style: italic;
    text-shadow: 0 0 2rem var(--color-green);
}

.main__section-left p {
    margin: 5rem 0 2rem 0;
    color: var(--color-dark-white);
    line-height: 1;
    font-size: 1.2rem;
}

.learn__more {
    display: block;
    background: var(--color-green);
    width: 100px;
    padding: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem var(--color-green);
}

/* ======================== END OF MAIN SECTION =================== */

.feedback {
    margin-top: -5rem;
}

.feedback__title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.feedback__title span {
    color: var(--color-green);
}


.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.testimonial {
    background: var(--color-white);
    color: var(--color-gray);
    padding: 1rem;
    border-radius: 2rem;
}

.testimonial__icon {
    display: block;
    padding: 1rem 0;
    text-align: center;
}

.testimonial__rate {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin: auto;
    color: var(--color-green);
}

.testimonial p {
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
    margin: 1rem 0;
}

.testimonial__image {
    margin: 2rem 0 -5rem 0;
    text-align: center;
    color: var(--color-white);
}

.testimonial__image img {
    border: 2px solid var(--color-white);
    border-radius: 50%;
    margin: auto;
}

.testimonial__image h4 {
    margin-top: 0.5rem;
}

/* ======================== END OF TESTIMONIALS =================== */

.cards {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    background: var(--color-white);
    padding: 1rem 0.5rem;
    color: var(--color-black);
    border-radius: 5px;
}

.icon__info {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0 -1rem;
}

.icon__info i {
    margin-left: 4rem;
    font-size: 2rem;
    color: var(--color-green);
}

.icon__info h4 {
    margin-left: -1rem;
}

.card small {
    text-align: center;
    display: block;
}

/* ======================== END OF CARDS =================== */

footer {
    background: var(--color-gray);
    margin-top: 4rem;
    
}

.footer__section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 5rem 0;
}

.footer__brand{
    color: var(--color-green);
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.footer__right span {
    font-size: 5rem;
    margin-right: -0.5rem;
}

.footer__right p {
    line-height: 1.2;
    margin: 2rem 0;
    color: var(--color-dark-white);
}

.hire {
    background: var(--color-green);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3rem var(--color-green);
}

.footer__socials ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.footer__socials li:hover{
    border-bottom: 2px solid var(--color-dark-white);
}

.footer__contacts {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.footer__contacts .icon {
    background: var(--color-black);
    padding: 0.8rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 50%;
    color: var(--color-green);
}

.muted {
    display: block;
    margin: -0.5rem 0;
    color: var(--color-black);
    text-align: center;
}

.footer__address h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer__address li {
    margin-bottom: 2rem;
}

.instgram__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.ins h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.instgram__posts img {
    width: 8rem;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 2rem var(--color-black);
}


.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}


.foot ul {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}



/*  ======================== MEDIA QUERIES (TABLET) ========================= */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    .nav__menu {
        position: fixed;
        top: 7rem;
        right: 5%;
        width: 18rem;
        height: fit-content;
        flex-direction: column;
        gap: 0;
        box-shadow: 0 0 2rem var(--color-black);
        display: none;
    }

    /* .nav__menu {
        padding: 2rem 0;
        background: var(--color-gray);
    } */

    .nav__menu li {
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
        background: var(--color-gray);

    }

    .nav__toggler .open-btn{
        display: inline-block;
        
    }

    /* ======================== END OF NAVBAR =================== */
    
    

    .main__section-image img {
        width: 100%;
        height: 100%;
        border: 4px solid var(--color-white);
        border-radius: 50%;
    
    }


    .main_section-title h1 {
        font-size: 2rem;
    }
    
    .main_section-title span {
        font-size: 3.5rem;
        margin-left: 2rem;
    }
    
    .main__section-left p {
        margin: 3rem 0 2rem 0;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 700;
    }
    
    .learn__more {
        padding: 1rem;
        font-size: 1rem;
        box-shadow: 0 0 2rem var(--color-green);
    }

    /* ======================== END OF MAIN SECTION =================== */

    .feedback {
        margin-top: -3rem;
    }

    .feedback__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    
    
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: -5rem;
    }
    .testimonial {
        border-radius: 2rem;
        margin-bottom: 3rem;
    }
    
    /* ======================== END OF TESTIMONIALS =================== */


    .cards {
        grid-template-columns: repeat(2, 1fr);
    }


    .icon__info {
        gap: 3rem;
        font-size: 2rem;
        margin: 0.5rem 1rem 0 -1rem;
    }

    .icon__info i {
        font-size: 3rem;
    }


    .card:nth-child(2) h4 {
        margin-left: 1.2rem;
    }

    .card:nth-child(3) h4 {
        margin-left: 0.5rem;
    }

    /* ======================== END OF CARDS =================== */



    footer {
        margin-top: 2rem;
    }

    .footer__section {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        padding: 3rem 0;
    }

    .footer__brand{
        font-size: 2.5rem;
    }

    .footer__right span {
        font-size: 5rem;
        margin-right: -0.5rem;
    }

    .footer__right p {
        margin-top: 0.5rem;
    }

    .hire {
        padding: 0.8rem;
        box-shadow: 0 0 1rem var(--color-green);
    }

    .footer__socials ul {
        gap: 3rem;
    }

    .footer__socials li:hover{
        border-bottom: 1px solid var(--color-dark-white);
    }

    .footer__contacts {
        gap: 0.5rem;
    }


    .muted {
        margin: -0.5rem 0 0 -8rem;
    }


    .footer__address h3 {
        font-size: 1.5rem;
    }

    .footer__address li {
        margin-bottom: 1.5rem;
    }

    .instgram__posts {
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
    }

    .ins h3 {
        font-size: 1.5rem;
    }

    .instgram__posts img {
        box-shadow: 0 0 1rem var(--color-black);
    }

}


/*  ======================== MEDIA QUERIES (PHONE) ========================= */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    .nav__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 5rem;
    }


    .nav__toggler  button{
        margin-left: -5rem;
        font-size: 2rem;
        width: 5rem;
    }

    .nav__toggler .open-btn{
        display: inline-block;
        
    }

    /* ======================== END OF NAVBAR =================== */
    
    .main__section {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .main__section-image {
        margin: auto;
    }

    .main__section-image img {
        width: 100%;
        height: 100%;
        border: 4px solid var(--color-white);
        border-radius: 50%;
    }


    .main_section-title h1 {
        font-size: 2.5rem;
    }
    
    .main_section-title span {
        font-size: 3rem;
        margin-left: 2rem;
        position: relative;
    }
    
    .main__section-left p {
        margin: 3rem 0 2rem 0;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 500;
    }
    
    .learn__more {
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
        box-shadow: 0 0 1rem var(--color-green);
    }

    /* ======================== END OF MAIN SECTION =================== */

    .feedback {
        margin-top: -4rem;
    }

    .feedback__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    
    .testimonials {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    /* ======================== END OF TESTIMONIALS =================== */


    .cards {
        grid-template-columns: 1fr;
    }


    .icon__info {
        gap: 7rem;
        font-size: 2rem;
        margin: 0.5rem 1rem 0 -1rem;
    }

    /* ======================== END OF CARDS =================== */



    footer {
        margin-top: 2rem;
    }

    .footer__section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer__brand{
        font-size: 2.5rem;
        margin-left: 12rem;
    }

    .footer__right span {
        font-size: 5rem;
        margin-right: -0.5rem;
    }

    .footer__address h3 {
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    .footer__contacts {
        gap: 1rem;
        margin-left: 12rem;
    }


    .muted {
        margin: 0.5rem 0 0 2rem;
    }


    .instgram__posts {
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
        margin-left: 5rem;
    }

    .ins h3 {
        font-size: 2.5rem;
    }
}